.contacts {
   .contacts_info {
      margin-top: 15px;
      div {
         margin-bottom: 10px;
         label {
            color: $dark_brown;
         }
         a {
            color: black;
         }
      }
   }

   .input-field {
      color: $smokey_green;

      .prefix.active {
         color: inherit;
      }

      input[type=text], input[type=email], .materialize-textarea {
         &:focus, &.valid {
            border-bottom: 1px solid $smokey_green;
            box-shadow: 0 1px 0 0 $smokey_green;
            + label {
               color: inherit;
            }
         }
      }
   }
}
