@media only screen and (max-width : 992px) {
	header, main {
		padding-left: 0 !important;
		margin-right: 0 !important;
	}

	.mobile_nav_button {
		font-size: $button_size;
		margin-top: $button_size;
		margin-right: $button_size;
	}

	.skills {

		.row {
			margin-left: 25%;
		}
	}

	.project {

		.mobile_nav_button {
			color: $dark_brown;
		}

		.container {
			margin-top: 20%;
		}
	}

	.menu {
	   .wrapper {

	      /* Masonry container */
			.masonry {
				-moz-column-count: 2;
				-webkit-column-count: 2;
				column-count: 2;
				/* Masonry bricks or child elements */
				.item {
					width: 105%;
				}
			}
		}
	}
}

@media only screen and (max-width: 550px) {
	.menu {
	   .wrapper {
	      /* Masonry container */
			.masonry {
				-moz-column-count: 1;
				-webkit-column-count: 1;
				column-count: 1;
			}
		}
	}
}

@media only screen and (min-width: 1281px) {
	.menu {
		.wrapper {
			.masonry {
				-moz-column-count: 4;
				-webkit-column-count: 4;
				column-count: 4;
			}
		}
	}
}
