.menu {

   .menu_link {
      margin-bottom: 5px;
   }
}

/* Masonry container */
.masonry {
   margin-top: 1.5em;
   margin-bottom: 1.5em;
   -moz-column-gap: 1.5em !important;
   -webkit-column-gap: 1.5em;
   column-gap: 1.5em;
   column-count: 3;
   -moz-column-count: 3 !important;
   -webkit-column-count: 3;
   display: inline-block;
   margin-left: 5%;

}

/* Overlay cover image */
.cover {
   position: relative;

   img {
      max-width: 275px;
   }

   .description {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $light_brown;
      width: 105%;
      opacity: 0;
      transition: -webkit-opacity .65s;
      transition: opacity .65s;
      font-size: 20px;
      font-weight: bold;

      h3 {
         font-style: italic !important;
         color: $smokey_green;
      }

      h1 {
         text-transform: uppercase;
         color: $dark_brown;
         text-transform: uppercase;
         margin-bottom: 10px;
      }
   }

   &:hover .description {
      visibility: visible;
      opacity: 1;
   }
}


/* Styling for the page with a Project*/
.project {

   .container {
      margin-top: 5%;
   }

   .important_keys {

      h1 {
         font-size: 30px;
         font-weight: bold;
         margin-bottom: 15px;
         text-decoration: underline;
         text-transform: uppercase;
         color: $dark_brown;
      }

      p {
         text-transform: uppercase;
         font-weight: bold;
         font-size: medium;
         i {
            color: $dark_brown;
         }
      }
   }

   h2 {
      font-size: large;
      text-transform: uppercase;
      color: $dark_brown;
      font-weight: bold;
   }

   .project_text_format {
      margin-left: 10%;
      font-size: 15px;
      li {
         list-style-type: disc;
      }
   }
}
